{% extends 'base.html.twig' %}

{% block title %}Hello ACS!{% endblock %}

{% block body %}
    <img src="{{ asset('/images/france.png') }}" alt="france" class="h-32 rounded shadow-md my-12">

    <h1 class="my-5 text-3xl sm:text-5xl font-semibold text-indigo-800">Hello ACS</h1>
    <p class="text-lg text-grey-800">It's currently {{ 'now' | date('h:i A') }}.</p>

{% endblock %}

