{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello ACS</h1>

    <p>It's currently {{ 'now'|date('h:i A')}}.</p>
    <footer>
        <p>
            &copy; By K.Element.Graphic {{ 'now'|date('Y') }}
            &middot; <a href="">About</a>
        </p>
    </footer>

{% endblock %}

